flask
flask-login
flask-wtf
email_validator
flask-bcrypt
flask-mail
itsdangerous
python-dotenv
pymongo
tqdm
langchain
langchain-mongodb
langchain-community
langchain-core
langchain-ollama
langchain-google-genai
langchain-openai
openai
pypdf
tiktoken
aiofiles
python-multipart
PyPDF2
faiss-cpu
ipykernel
flask-oauthlib
aiohttp
flask-caching
flask-session

